<h1>About the Website</h1>

<div class="row home-row">
  <img src="https://upload.wikimedia.org/wikipedia/en/e/eb/MongoDB_Logo.png" alt="MongoDB" />
</div>

<div class="row home-row">
  <p>
    This is an example of geosearch with MongoDB on Ruby on Rails. Was created with
    <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the
    <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>

  <p>
    The javascript library to show the map with the results is <a href="https://github.com/carloscabo/gmapz" target="_blank">GMapz</a>,
    developed by <a href="https://github.com/carloscabo" target="_blank">Carlos Cabo</a>.
  </p>

  <p>
    There is a Rails Gem developed by <a href="https://github.com/dreamingechoes" target="_blank">dreamingechoes</a> (me) 
    <a href="https://rubygems.org/gems/gmapz_rails" target="_blank">available here</a>.
  </p>
</div>
